<a href="https://colab.research.google.com/github/ganeshcoder3/Python/blob/main/Python_assignment_lambda_list_comph.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Function Concepts (Single Return Values)

In [17]:
def wish(name):
  print(f"Hello,Good Morning {name} !")
wish("ganesh")

Hello,Good Morning ganesh !

In [18]:
def cube(n):
  return n**3
cube(n=3)

27

In [24]:
def check_even(n):
  return n%2==0
check_even(20)

True

In [27]:
def greatest_of_two(a,b):
  if (a>b):
    return a
  else:
    return b
greatest_of_two(1,2)

2

In [29]:
def count_letters(s):
  return len(s)
count_letters("ganesh")

6

In [34]:
def power(value,exp=2):
  return value**exp
power(2)

4

Returning Multiple Values

In [35]:
def swap(a,b):
  return b,a
swap(10,30)

(30, 10)

In [38]:
def add_sub(a,b):
  return a+b,a-b
add_sub(4,3)

(7, 1)

In [39]:
def circle_stats(radius):
  area = 3.14*radius**2
  circumference = 2*3.14*radius
  return area, circumference
circle_stats(3)

(28.26, 18.84)

In [42]:
def min_max_sum(nums):
  return min(nums),max(nums),sum(nums)
min_max_sum([1,2,3])

(1, 3, 6)

Working with Strings & Formatting

In [ ]:
def concat(*parts):
  return " "parts

In [43]:

def format_name(first, last=""):
    if last:
        return f"{last}, {first}"
    else:
        return first
format_name(first="reddy",last="ganesh")

'ganesh, reddy'

In [47]:
def greet_user(first, last):
  return f"Welcome, {first} {last}!"
greet_user("ganesh" , "reddy")

'Welcome, ganesh reddy!'

Lambda Functions

In [50]:
add = lambda a,b:a+b
print(add(1,3))

4

In [56]:
import math
mult = lambda*args:math.prod(args)
print(mult(1,2,3))

6

In [ ]:
list = [(a,b) , (c,d)]
print(list in combine)

Recursive, Higher-Order & Inner Functions

In [63]:
def factorial(n):
  if n==0 or n==1:
    return 1
  else:
    return n * factorial(n-1)
factorial(10)

3628800

In [72]:
def apply_twice(func,x):
  twice = func
  print (func(func(x)))
apply_twice(int,5)

5

In [73]:
def inner_demo():

    def multiply_by_two(x):
        return x*2

    # Call the inner function
    result = multiply_by_two(10)
    print(f"10 multiplied by 2 is: {result}")

    return result

# Call the function
inner_demo()

10 multiplied by 2 is: 20

20

Intermediate Function Concepts

In [76]:
def make_multiplier(m):
    def multiplier(x):
        return x * m
    return multiplier

In [79]:
def filter_primes(nums):
    def is_prime(n):
        if n < 2:
            return False
        for i in range(2, int(n**0.5) + 1):
            if n % i == 0:
                return False
        return True
    return list(filter(is_prime, nums))

print(filter_primes([2,13,21,55,64,89]))

[2, 13, 89]

In [80]:

def convert_to_fahrenheit(celsius_list):
    return list(map(lambda c: c * 9/5 + 32, celsius_list))

print(convert_to_fahrenheit([456, 89, 21]))

[852.8, 192.2, 69.8]

In [81]:

def sort_by_length(strings):
    return sorted(strings, key=lambda s: len(s))
print(sort_by_length(['apple', 'banana', 'cherry', 'date']))

['date', 'apple', 'banana', 'cherry']

List Comprehensions

In [82]:
squares = [x**2 for x in [1, 2, 3, 4]]
print(squares)

[1, 4, 9, 16]

In [84]:
uppercase = [x.upper() for x in ['a','b','c']]
print(uppercase)

['A', 'B', 'C']

In [88]:
even_nums = [x for x in range (1,21) if x%2==0 ]
print(even_nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [93]:
words = ['apple', 'bee', 'cat']
word_lengths = [(word, len(word)) for word in words]
print(word_lengths)

[('apple', 5), ('bee', 3), ('cat', 3)]

In [92]:
nums = [n for n in range(4)]
even_odd = ['even' if n%2 == 0 else 'odd' for n in nums]
print(even_odd)

['even', 'odd', 'even', 'odd']

In [95]:

def is_prime(n):
    return n > 1 and all(n % i != 0 for i in range(2, int(n**0.5)+1))
primes_bool = [is_prime(n) for n in [2, 3, 4, 5, 6, 7]]
primes_bool

[True, True, False, True, False, True]

In [96]:
phrases = ['a b','c d e']
flat_words = [word for phrase in phrases for word in phrase.split()]
print(flat_words)

['a', 'b', 'c', 'd', 'e']

Using Lists of Dictionaries

In [97]:
Given_students = [{'name':'A','score':80}, {'name':'B','score':60}]
passed_students = [student['name'] for student in Given_students if student['score'] >= 75]
print(passed_students)

['A']

In [98]:
dict_list = [{'n': n, 'square': n*n} for n in range(1, 11)]
print(dict_list)

[{'n': 1, 'square': 1}, {'n': 2, 'square': 4}, {'n': 3, 'square': 9}, {'n': 4, 'square': 16}, {'n': 5, 'square': 25}, {'n': 6, 'square': 36}, {'n': 7, 'square': 49}, {'n': 8, 'square': 64}, {'n': 9, 'square': 81}, {'n': 10, 'square': 100}]

In [99]:
list1, list2 = [1, '', 3], ["a", "b", None]
pairs = [(a, b) for a, b in zip(list1, list2) if a and b]
print(pairs)

[(1, 'a')]

In [100]:
matrix = [[1,2,3],[4,5,6]]
transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed)

[[1, 4], [2, 5], [3, 6]]

Advanced Comprehensions

In [101]:
nested_list = [[[1,2],[3]],[[4]]]
flat_list = [item for sublist in nested_list for sublist2 in sublist for item in sublist2]
print(flat_list)

[1, 2, 3, 4]

In [102]:
list_with_duplicates = [1, 2, 2, 3,7,7, 4, 4, 5]
unique_list = [item for i, item in enumerate(list_with_duplicates) if item not in list_with_duplicates[:i]]
print(unique_list)

[1, 2, 3, 7, 4, 5]

In [103]:
unq_list = [1, 2, 2, 3, 7, 7, 4, 4, 5]
indices = [i for i, item in enumerate(unq_list) if item == 7]
print(indices)

[4, 5]

In [104]:
Palindromes = [str(n) for n in range(1, 1000) if str(n) == str(n)[::-1]]
print(Palindromes)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '11', '22', '33', '44', '55', '66', '77', '88', '99', '101', '111', '121', '131', '141', '151', '161', '171', '181', '191', '202', '212', '222', '232', '242', '252', '262', '272', '282', '292', '303', '313', '323', '333', '343', '353', '363', '373', '383', '393', '404', '414', '424', '434', '444', '454', '464', '474', '484', '494', '505', '515', '525', '535', '545', '555', '565', '575', '585', '595', '606', '616', '626', '636', '646', '656', '666', '676', '686', '696', '707', '717', '727', '737', '747', '757', '767', '777', '787', '797', '808', '818', '828', '838', '848', '858', '868', '878', '888', '898', '909', '919', '929', '939', '949', '959', '969', '979', '989', '999']

In [106]:
dict_to_list = {'a':[1,2], 'b':[3]}
list_of_tuples = [(key, val) for key, val in dict_to_list.items()]
print(list_of_tuples)

[('a', [1, 2]), ('b', [3])]

In [107]:
prime_pairs = [(p, q) for p in range(2, 100) if all(p % i != 0 for i in range(2, int(p**0.5)+1))
               for q in range(2) if all(q % i != 0 for i in range(2, int(q**0.5)+1))
               if all(p + q % i != 0 for i in range(2, int((p + q)**0.5)+1))]
print(prime_pairs)

[(2, 0), (2, 1), (3, 0), (3, 1), (5, 0), (5, 1), (7, 0), (7, 1), (11, 0), (11, 1), (13, 0), (13, 1), (17, 0), (17, 1), (19, 0), (19, 1), (23, 0), (23, 1), (29, 0), (29, 1), (31, 0), (31, 1), (37, 0), (37, 1), (41, 0), (41, 1), (43, 0), (43, 1), (47, 0), (47, 1), (53, 0), (53, 1), (59, 0), (59, 1), (61, 0), (61, 1), (67, 0), (67, 1), (71, 0), (71, 1), (73, 0), (73, 1), (79, 0), (79, 1), (83, 0), (83, 1), (89, 0), (89, 1), (97, 0), (97, 1)]

In [109]:
n = 5
low_triangle_matrix = [[1 if j <= i else 0 for j in range(n)] for i in range(n)]
print(low_triangle_matrix)

[[1, 0, 0, 0, 0], [1, 1, 0, 0, 0], [1, 1, 1, 0, 0], [1, 1, 1, 1, 0], [1, 1, 1, 1, 1]]